# ==========================================
# Backend - Variables de Entorno de Ejemplo
# ==========================================

# Puerto del Servidor Spring Boot
SERVER_PORT=8000

# Base de datos H2 (Ruta de desarrollo)
DB_URL=jdbc:h2:file:./data/oculus_db;DB_CLOSE_DELAY=-1
DB_USERNAME=sa
DB_PASSWORD=

# Security (Recomendado sobreescribir secret en produccion via Env)
JWT_SECRET=your_base64_secret_key_needs_to_be_long_enough_for_hs256
JWT_EXPIRATION_MS=86400000
